<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seanutf.android.base">

    <application>
        <activity android:name=".aop.AopTest1Activity"></activity>
        <activity
            android:name=".aop.AopTestActivity"
            android:label="@string/title_activity_aop_test"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".media.select.DefaultMediaSelectActivity" />
    </application>

</manifest>